@model PartsUnlimited.WebsiteConfiguration.IApplicationInsightsSettings

<script>
    var ApplicationInsightsInstrumentationKey = "@Model.InstrumentationKey";
</script>

<li>ApplicationInsightsInstrumentationKey ist: @Model.InstrumentationKey </li>